@{
    ViewBag.Title = "ContactInfo";
}

<h2>ContactInfo</h2>
<p>Present Address: Bashundhara Residential Area, Block B, House No: 139, Road no: 05</p>
<p>Permanent Address: Vill: Faridpur, Post: Faridpur, Upazila: Mithapukur, Dist: Rangpur</p>
<p>Phone: 01774382608</p>
<p>Email:ahasanulislam973@gmail.com</p>