@{
    ViewBag.Title = "EducationalQualification";
}

<h2>EducationalQualification</h2>
<p>Certificate: BSC, Institution: AIUB, Passing Year: 2022</p>
<p>Certificate: HSC, Institution: Police Lines School And College, Rangpur, Board: Dinajpur, Passing Year: 2018</p>
<p>Certificate: SSC,  Institution: Police Lines School And College, Rangpur, Board: Dinajpur, Passing Year: 2016</p>