@{
    ViewBag.Title = "PersonalInfo";
}

<h2>PersonalInfo</h2>
<p>Name: Md. Ahasanul Islam </p>
<p>Father's Name: Md.Anwar Hossain </p>
<p>Mother's Name: Late. Anjuman Ara Begum </p>
<p>Date of Birth: 02/09/1999</p>
<p>Nationality: Bangladeshi</p>
<p>Gender: Male</p>
<p>Religion: islam</p>